<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.bget.httpbrookl3x.abituhub">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scrolling_news_Activity"
            android:label="@string/title_activity_scrolling_news_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginactivity"
            android:label="@string/title_activity_loginactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".olympiad"
            android:label="@string/title_activity_olympiad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubscriptionsActivity"
            android:label="@string/title_activity_subscriptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UnivProfileActivity"
            android:label="@string/title_activity_univ_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalcEgeActivity"
            android:label="@string/title_activity_calc_ege"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>